/assignement-03/assignement-03.xcodeproj
/assignement-03/config.make
/assignement-03/openFrameworks-Info.plist
/assignement-03/Project.xcconfig
/assignement-03/bin/assignement-03Debug.app/*
/assignement-03/.DS_Store